.port {
  width: 940px;
  height:558px;
  display:block;
  background:transparent url('../images/port.jpg') center top no-repeat;
}
.port:hover{
  background-image: url('../images/port_hover.jpg');
}


.clocktime {
border: 2px inset White; background: Black; padding: 5px; font-size: 14px; font-family: "Courier"; color: LightGreen; margin: 2px; display: block;
}

